*.csproj
*.sln
.DS_Store
.idea
*.ply
*.spz
*.sog

/builds/*
/images/*
/Shot-*.png

/Assets/GaussianAssets/*
/Assets/GaussianAssets.meta
/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/projects/**/Assets/GaussianAssets/*
/projects/**/Assets/GaussianAssets.meta
/projects/**/Assets/Models~/*
/projects/**/Library/*
/projects/**/Logs/*
/projects/**/Release/*
/projects/**/Temp/*
/projects/**/UserSettings/*
/projects/**/obj/*
/projects/**/Builds/*
/projects/**/vrphoto-build.log
/projects/**/.utmp/
/projects/**/Assets/Resources/PerformanceTestRunInfo.json*
/projects/**/Assets/Resources/PerformanceTestRunSettings.json*
/server/.venv/
/server/.pytest_cache/
/server/**/__pycache__/
*.sln.DotSettings.user

/releases/*
!/releases/Splatviewer_VR_v1.0_Windows_x64.zip
